{% load static %}

{%  block content %}

<!-- Admin Header -->
{% include 'accounts/admin_header.html' %}

<div id="wrapper">
    <!-- Navigation -->
    {% include 'accounts/admin_navigation.html' %}
    <!-- Calendar -->
    {% include 'calendar/calendar_header.html' %}

    <div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header text-primary">
                    Creacion de Eventos
                    {% if user.is_authenticated %}
                    <small>{{ user.first_name }} {{ user.last_name }}</small>
                    {% else %}
                    <p>You are not in the right place</p> 
                    <p><a href="{% url 'login' %}"></a></p>
                    {% endif %}
                </h3>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Crear un Evento nuevo
            </button>

        </div>
    </div>
    <div class="container fluid">
            <h3 class="page-header text-primary">Calendario</h3>
                    <div id='calendar'>
                    </div>
    </div>

    
          


<script>
jQuery(document).ready(function($) { 

    $('#calendar').fullCalendar({

        themeSystem : "defaultBootstrap",
        plugins: [ 'dayGrid','googleCalendar' ],
        header:{
                left:   'Calendar,prev,today,next',
                center: 'title',
                right:  'month,basicweek,basicDay,agendaWeek,agendaDay'

                },
    
                defaultDate: '2019-06-02',
                editable: true,
                eventLimit: true, 
                events: [  

                {% for i in events %}
                        {
                            title: "{{i.event_name}}",
                            //description:"{{ i.description }}",
                            start: '{{ i.start_date|date:"Y-m-d" }}',
                            end: '  {{ i.end_date|date:"Y-m-d" }}',

                        },
                    {% endfor%}
                ],

                eventClick:function(calEvent, jsEvent, view){
                    $('#exampleModalLabel').html(calEvent.title);
                },

                dayClick: function(event) {
                    $(this).css('background-color','red');
                    $("#exampleModal").modal("show");
                    
                    }
                    });
                

          });

    </script>  

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Titulo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="description"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Agregar</button>
                <button type="button" class="btn btn-primary">Modificar</button>
                <button type="button" class="btn btn-danger">Borrar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    



{% endblock %}
</div>

