#header {
    height: 50px;
    background: #056da1;
    color: #fff;
}


#branding h1 {
    color: #fff;
}

a:link,
a:visited{
    color:#025d8a;
}


div.breadcrumbs{
    background: #00a3f3;
}

.module h2, .module caption, .inline-group h2 {
    background: #30caa0;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background: #00a3f3;
    color: #fff;

}

