{% load static %}

{%  block content %}

<!-- Admin Header -->
{% include 'accounts/admin_header.html' %}

<div id="wrapper">
    <!-- Navigation -->
    {% include 'accounts/admin_navigation.html' %}

    <div id="page-wrapper">
      <div class="container-fluid">
         <!-- Page Heading -->
         <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header text-primary">
                    Bienvenid@ a la lista de propiedades

                    {% if user.is_authenticated %}
                    <small><{{ user.first_name }} {{ user.last_name }}></small>
                    {% else %}
                    <p>You are not in the right place</p> 
                    <p><a href="{% url 'login' %}"></a></p>
                    {% endif %}
                </h3>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->


        <form action="" method='post'>
            <table class="table table-bordered table-hover">
                  <div id="bulkOptionContainer" class="col-xs-4">
                    <select class="form-control" name="bulk_options" id="">
                        <option value="">Seleccionar Opcion</option>
                        <option value="published">Publicar</option>
                        <option value="draft">Borrador</option>
                        <option value="delete">Borrar</option>
                        <option value="clone">Clonar</option>
                        <option value="delete">Borrar</option>
                    </select>
                  </div>
                  <div class="col-xs-4">
                      <input type="submit" name="submit" class="btn btn-success" value="Apply">

                          <hr>
                       </div>
                      
            </form>


{% if user.is_authenticated %}

<div class="row">

<!-- Dashboard -->
                  <div class="text-right">
                    <a class="btn btn-primary" href="{% url 'listing_form' %}">Crear nueva propiedad</a>
                  </div>
              </div>

                <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Título</th>
                    <th scope="col">Referencia</th>
                    <th scope="col">Dirección</th>  
                    <th scope="col">Población</th>                
                    <th scope="col">Precio</th>
                    <th scope="col">Metros</th>
                    <th scope="col">Dorm</th>
                    <th scope="col">Baños</th>
                    <th scope="col">Publicado</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
        {% if object_list %}     
            {% for listing in object_list %}
            <td>{{ listing.id}}</td>
            <td><img width="200" src="{{ listing.photo_main.url}}" alt='image'></td>
            <td>{{ listing.title}}</td>
            <td>{{ listing.reference}}</td>
            <td>{{ listing.address}}</td>
            <td>{{ listing.city}}</td>
            <td>{{ listing.price}}€</td>
            <td>{{ listing.mtrs}}</td>
            <td>{{ listing.bedrooms }}</td>
            <td>{{ listing.bathrooms }}</td>
            <td>{{ listing.is_published }}</td>
            <td>
              <a class="btn btn-primary" href="{% url 'admin_listing' listing.id  %}">Ver</a>
            </td>
            <td>
                <a class="btn btn-primary" href="{% url 'listing_form' listing.id  %}">Actualizar</a>
            </td>
            <td>
                <a class="btn btn-danger" href="{% url 'delete_form' listing.id  %}">Borrar</a>
            </td>
            </tr>
            {% endfor %}
       {% endif %}
    </tbody>
</table>
</div>
</div>
</div>
</section>

{% else %}
<p>Your  not in the right place</p>

{% endif %}


{% endblock %}
</div>
</div>
</div>
</div>
